@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-color: hsl(238, 29%, 16%);
  --clr-red-special: #b4345c;
  --clr-grey-special: #eae6eb;
}


body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: hsl(273, 75%, 66%);
}



main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 95vw;
  max-width: 1126px;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 420px 1fr;
  background-color: #ffffff;
  padding: 3rem 5rem;
  border-radius: 10px;
  grid-column-gap: 0.50rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.container .person-image {
  position: relative;
  transform: translate(-66px,105px);
}

.container .person-image img {
   width: 100%;  
}

.bg-desktop {
  position: absolute;
  top: -61px;
  left: 20px;
}


.bg-mobile {
  position: absolute;
  top: -61px;
  left: 20px;
  visibility: hidden;
}


.accordion_section h1 {
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: 800;
  margin-bottom: 1.9rem;
  letter-spacing: 1px;
}


.question {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}


.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}


.accordion_section .question h4 {
  color: var(--primary-color);
  font-size: 1.20rem;
  letter-spacing: 1px;
}

.accordion_section .question p {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 1rem 0rem;
  line-height: 27px;
}



.btn {
  background: transparent;
  border: transparent;
  border-radius: 50%;
  color: var(--clr-red-special);
  background-color: var(--clr-grey-special);
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
  margin-left: 1.50rem;
}

@media (max-width:992px) {
  .container {
    width: 90vw;
    grid-template-columns: 1fr;
  }

  main {
    padding-top: 11rem;
  }

  .container .person-image {
    position: relative;
    bottom: 36px;
    left: -34px;
    transform: translate(21px, 10px);
    }

    .bg-desktop {
      position: absolute;
      top: -61px;
      left: 20px;
      visibility: hidden;
    }
    
    
    .bg-mobile {
      position: absolute;
      top: 216px;
      left: 18px;
      visibility: visible;
  }

    .accordion_section h1 {
      text-align: center;
      margin: 3rem 0rem;
    }

}


@media (max-width: 767px) {
  

}

@media (min-width: 481px) and (max-width: 767px) {
  
  .bg-mobile {
    top: 109px;
    left: 7px;
}

  .accordion_section .question h4 {
    font-size: 1rem;

  }
  
}







